

/* .aboutUs{
    margin: 100px;
    padding: 50px;
} */
.titleAbout{
    color: #E47B3A;
    margin-bottom: 40px;
    text-align: right;
    font-size: 60px;
}
.backgroundAbout{
    background-color: #98be519f;
    /* opacity: 0.87; */
    padding: 50px;
    /* padding-right: 0px;
    padding-left: 90px; */
}
.paraAbout{
    color: black;
    font-weight: 500;
}
.hrAbout{
    color: #98BE51;
    margin-right: 200px; 
}
.dawyaSpan{
    font-size: small;
    font-weight: 500;
}
.nous{
    vertical-align: bottom;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}
.imageAbout{
    height: 500px;
    width: 100%; 
    object-fit: cover;
}
.rowAbout{
    /* background-color:red; */
    height: 500px;
}
.rowAboutImg{
    width: 100%;
}