.menu{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #015e16;
    overflow-x: hidden;
    padding-top: 90px;
}

#h1{
    padding: 0 30px 20px 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #88f99d;
}

.menu a{
    padding: 6px 6px 10px 50px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    color: rgb(246, 246, 246);
    display: block;
    transition-timing-function: ease-in;

}

img{
    width: 40px;
    height: 40px;
    padding: 5px 8px 8px 0;
}

#logout{
    width: 35px;
}

.menu a:hover{
    color: rgb(214, 214, 214);

    margin-left: 14px;
}

.titreSett {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 90px;
    white-space: nowrap;
    color: #e55f11ec;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    /* height: 100%; */
    white-space: nowrap;
    background-color: #e55f11ec;
    color: white;
    text-align: center;
    vertical-align: middle;
    /* margin-left: 40%;
    padding: 15px;
    border-radius: 12px; */
}

.btn-mod {
    background-color: #0e8240f9;
}

.cardStyle {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.hr {
    margin-left: 250px;
    width: 50%;
    margin-bottom: 50px;
}

.imgCard {
    width: 100%;
    height: 100%;
}

input{
    visibility: hidden;
}


@media screen and (max-width:576px) {
    .sideMenu {
        margin: 0;
        padding: 0;
        color: #cdcdcd;
        font-family: "Avenir Next", "Avenir", sans-serif;
        background: none;
        position: relative;
    }

    .sideMenu {
        display: block;
        position: relative;
        top: 30px;
        left: 30px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        height: 100%;
    }

    .sideMenu a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    .sideMenu input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
        visibility: visible;
    }

    .hamburgerMenu {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #0d0c0c;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .sideMenu span:first-child {
        transform-origin: 0% 0%;
    }

    .sideMenu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .sideMenu input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    .sideMenu input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .sideMenu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
        position: absolute;
        width: 600px;
        height: 1000px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #015e16;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    .sideMenu input:checked~ul {
        transform: none;
    }

    .titreSett{
        /* margin-right: 90px; */
        text-align: center;
    }

    .cardStyle{
        margin-right: 60px;
        height: 250px;
        width: 400px;
        margin-left: 30px;
    }

    .cardStyle p{
        font-size: 14px;
        width: 250px;
        height: 200px;
        position: relative;
        left: 50px;
    }

    .cardTitle{
        position: relative;
        left: 50px;
    }

    .hrCard{
        position: relative;
        left: 50px;
    }

    .btn{
        position: relative;
        bottom: 100px;
        left: 60px;
    }

    .btn-mod{
        position: relative;
        left: 170px;
        bottom: 143px;
    }

    .br{
        display: none;
    }

    .imgCard{
        width: 100px;
        height: 250px;
        object-fit: cover;
    }
}