
@import url(./_mapintegration.css);

:root{
    --main-color:#cae3ca8f;
    --main-color2:#8dc88d;
    --main-color3:#98BE51;
    --main-color4:#E47B3A;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    z-index: 200;
}
nav a img{
    width: 120px !important;
    height: 50px !important;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 0;
    z-index: 100;
}
nav ul li {
    margin: 20px;
}
nav ul li a{
    color: #FFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    opacity: 0.80;
    z-index: 5 !important;
} 

nav ul li a:hover{
    color: var(--main-color4);
    text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--main-color4);
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.hamburger__menu,
.hamburger__menu2{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    z-index: 100;
}


#first__one,
#last__one,
#middle__one{
    width: 40px;
    height: 2px;
    border-radius: 3px;
    background-color: #000;
    position: relative;
    margin: 4px;
}



nav div #middle__one{
    width:20px;
    transition-property: width;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.hamburger__menu:hover #middle__one{
    width: 30px;
}

.hamburger__animate__one{
    transition: all 300ms ease;
    transform: rotate(-45deg) !important;
    transform-origin: right !important;
    top: 6px !important;
    width: 30px !important;
}

.hamburger__animate__two{
    transition: all 300ms ease;
    transform: rotate(45deg) !important;
    transform-origin: right !important;
    top: 8px !important;
    width: 30px !important;
}
.hamburger__animate__three{
    left: 6px !important;
    opacity: 0 !important;
    width:20px !important;
    transition-property: width;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}


/* =========== Navbar style End ========= */

/* ========== Section intro  style=========== */


.landingPage{
    height: 100vh;
    background-size:cover ;
    object-fit: cover;
    display: flex;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
}
.landingPage::after{
    content: "";
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    opacity: 0.65;
    z-index: -1;
}

section .landingPage video{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.landingPage .row{
    width: 100%;
}

.landingPage .row h5,
.landingPage .row p,
.landingPage .row a
{
    z-index: 5;
}

.landingPage .row h5{
    font-size: 50px;
    color: var(--main-color3) !important;
}

/* .landingPage .row p{
    
} */

.landingPage .row a{
    padding: 10px 60px;
    background-color: var(--main-color3);
    border: 2px solid transparent;
    transition: all 400ms ease-in-out;
}

.landingPage .row a i{
    position: relative;
    top: 1px;
    left: 40px;
    display: none;
}

.fa-long-arrow-right{
    transition: all 400ms ease-in-out;
}

.landingPage .row a:hover .fa-long-arrow-right{
    display: inline-block !important;
}

.controls{
    position: absolute;
    top: 80%;
    left: 2%;
}

.audio{
    visibility: hidden;
}

.controls div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(238, 238, 238, 0.255);
    filter: blur(50);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.controls div:hover{
    background-color: rgba(238, 238, 238, 0.13);
}

.controls div i{
    color: #FFF;
}



/* ========== Section intro style End =========== */

/* ============== Media Queres <992px ============== */

@media (max-width:992px) {

    /* Navbar */

    .navbar-collaps{
        display: none;
    }
    
    .hamburger__menu{
        display: flex;
        z-index: 100;
    }

    nav .navbar-collaps{
        position: absolute;
        top: 0;
        width: 100%;
        height: 0vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 400ms ease-in-out;
        margin: 0;
        left: 100%;
    }

    nav .navbar-collaps-clicked{
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #8dc88d;
        align-items: center;
        margin: 0;
        transition: all 400ms ease-in-out;
        left:30%;
    }

    nav .navbar-navs{
        flex-direction: column !important;
        padding: 0;
        margin: 0 !important;
    }
    
    .closeButton{
        position:relative;
        top: -180px;
        display: flex;
        justify-content: end;
        padding-right: 60px;
        width: 100%;
    }
    .navLinks{
        color: #FFFF !important;
        transition: all 300ms ease;
    }

    nav.stroke ul li a:after,
    nav.fill ul li a:after {
      position: absolute;
      top: 25px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: #FFFF;
      height: 2px;
   }

   nav.stroke ul li a:hover:after {
      width: 100%;
  }

  .shadow2::after{
    content: '';
    background-color: #000f;
    position: absolute;
    width: 30%;
    height: 20000px !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    z-index: 800;
  }

  .shadow2{
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
}


@media (max-width:554px) {
    nav .logo{
        padding-left: 8px !important;
    }

    nav .hamburger__menu{
        margin-right: 8px !important;
    }

    nav a img{
        width: 80px;
        height:50px;
    }

    .landingPage .row h5{
        font-size: 35px;
    }
    .landingPage .row p{
        font-size: 14px;
    }

    .landingPage .row a{
        padding: 8px 40px;
    }
    .landingPage .row a i{
        left: 30px;
    }
}

@media (max-width:350px) {
    .landingPage .row h5{
        font-size: 30px;
    }

    .landingPage .row p{
        font-size: 13px;
    }
    .landingPage .row a{
        padding: 6px 30px;
    }
    .landingPage .row a i{
        left: 20px;
    }

    .controls div{
        width: 30px;
        height: 30px;
    }

    nav a img{
        width: 70px !important;
        height: 40px !important;
    }

    #first__one,
    #last__one,
    #middle__one{
        width: 30px;
        margin: 3px;
    }

    .hamburger__animate__one{
        top: 3px !important;
        width: 30px !important;
    }
    
    .hamburger__animate__two{
        top: 9px !important;
        width: 30px !important;
    }
    
}

@media (max-height:580px) {
    .controls{
        position: absolute;
        top: 75% !important;
    }
}