.login_part2{
    background-color:  #8dc88d;
}
.btnnlog button{
    background-color: #28a745;
    color: #FFFF;
}
.titrelog h2{
    color: #28a745;

}

.titree h2{
    font-size: 50px;
}

.passwordVisibility i{
    position: relative;
    top: -66px;
}
.hideIcon{
    display: none;
}

#emailHelp,
#passwordHelp{
    visibility: hidden;
    transition: var(--transition);
}