#nosoffres{
    background-color:#8dc88d;
}
#titre{
    color:rgb(228,123,58);
}
.reserverBtn{
    background-color:#28a745;
    
}
.reserverBtn:hover{
    background-color:#28a745;
}
.titre_texte{
    color:#28a745 ;
}
@media (max-width:992px) {
   
      
 


   
    }
