
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

:root{
    --main-color5:#c3f3c3;
}

.row{
    width: 100% !important;
}

.textPrincipalParagraphe{
    line-height: 35px !important;
}

.text_principale img{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.about_us_title{
    color: var(--main-color4) !important;
    font-size: 55px;
    width: 100%;
    position: relative;
}
.about_us_title::after{
    content: '';
    width: 115px;
    height: 4px;
    background-color: var(--main-color4);
    position: absolute;
    top: 140px;
    left: 50px;
}

.about_us_title span{
    display: block;
}

.about_us_text{
    background-color: var(--main-color5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width:992px) {
    .text_principale img{
        border-radius: 20px;
    }

    .about_us_title span{
        display: inline-block;
    }

    .about_us_title::after{
        display: none;
    }

    .about_us_text{
        border-radius: 0;
    }
}

@media (max-width:450px) {
    .about_us_title{
        font-size: 35px !important;
    }
}
